// Desktop version
.rating {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.star {
  width: 30px;
  margin-left: 10px;
}

// Mobile version
@media (max-width:600px) {
  .rating {
    margin-top: 0;
    top: 0;
    .star {
      width: 20px;
      margin: 0 10px 0 0;
    }
  }
}